@charset "UTF-8";

@import url(fonte/Mont-HeavyDEMO.otf);

@font-face {
    font-family: 'Principal';
    src: url('fonte/Mont-HeavyDEMO.otf') format('opentype');
}

:root {
    --fonte1: 'Principal';
    --padrao: arial, verdana, helvetica, sans-serif;

    --corF: linear-gradient(to bottom, rgb(24, 39, 51), rgb(60, 75, 89));
    --corL: rgb(123, 132, 140);
    --corIm: linear-gradient(to right, rgb(123, 132, 140), rgb(48, 47, 47));

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }

body{
    background-image: var(--corF);
    font-size: var(--padrao);
    
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 3s ease, transform 3s ease;

}

body.loaded {
    opacity: 1;
    transform: translateY(0);
}

.container {
    width: 50%;               /* Largura de 100% da tela */
    max-width: 900px;         /* Largura máxima de 900px */
    min-width: 400px;          /* Largura mínima de 400px */
    margin: 0% auto;            /* Centraliza o container na tela */
    padding: 20px;             /* Espaçamento interno */
    
}


.sald {
    color: var(--corL);
    text-shadow: 4px 4px 3px black;
    font-family: var(--fonte1);
    padding-bottom: 40px;
}

#cabeçalho {
    padding-bottom: 14%;
    
}

#nome {
    background-image: var(--corIm);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 
    padding-left: 25px;
    padding-bottom: 3px;
    font-family: var(--padrao);
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
}

#Cnome {
    color: white;
    font-size: 16px;
    padding-left: 25px;
    font-family: var(--padrao);
    padding-bottom: 5px;
    
}


#cabeçalho > img {
    margin-left: auto;
    margin-right: auto;
    display: block; 
    float: right; 
    width: 22%;
    padding: 10px;
    border-radius: 90px;
    position: relative;  /* Permite o uso da propriedade 'top' */
    top: -65px;          /* Move a imagem 10px para cima */
    
}

/* Media query para telas maiores (ex: tv) */
@media (max-width: 900px) {
    #cabeçalho > img {
        width: 44%;
    }
}

/* Media query para telas media (ex: tablets) */
@media (max-width: 750px) {
    #cabeçalho > img {
        width: 42%;
    }
}

/* Media query para telas muito pequenas (ex: smartphones em modo retrato) */
@media (max-width: 400px) {
    #cabeçalho > img {
        width: 42%;
    }
}

 
.r {
    padding-top: 1%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    
}

.rede {
    
    padding: 2px;
    display: inline-block;
    border-radius: 10px;
    width: 55px;
    height: 55px;
    background-color: rgb(161, 161, 161);
    border: 3px solid white;
}

.caixa {
    display: flex; /* Usando flexbox para alinhamento */
    justify-content: flex-end; /* Alinha o conteúdo (nav) à direita */
    width: 101%; /* Garante que a caixa ocupe toda a largura disponível */
    overflow: hidden; /* Impede que o conteúdo ultrapasse os limites do container */
}

nav {
    font-family: var(--padrao);
    padding: 8px;
    padding-bottom: 3%;
    padding-top: 4%;
    display: inline-block;
    white-space: nowrap;  /* Impede a quebra de linha dentro do nav também */
    
    
}



nav a {
    color: white;
    padding: 2px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    transition: all 0.3s ease;
}



nav a:hover {
    background-color: rgba(255, 255, 255, 0.274);
    color: rgba(255, 255, 255, 0.623);
    border-radius: 5px;
    transition: .3s;
}

.linha {
    border: 0;  /* Remove a borda padrão */
    border-top: 2px solid #ffffff;  /* Define uma linha de 2px de espessura e cor preta */
    margin: 20px 0;  /* Adiciona espaçamento acima e abaixo da linha */
    padding-right: 50%;
    bottom: 60%;
}

h1#sobre {
    font-family: var(--padrao);
    color: rgb(123, 132, 140);
    padding-top: 50px;
    padding-right: 49%;
}

img {
    width: 25px;
    height: auto;
    padding-right: 6px;
}

p {
    text-align: justify;
    margin-left: 5px;
    color: white;
    font-family: var(--padrao);
}


.cert {
    color: rgb(123, 132, 140);
    padding-top: 30px;
    padding-bottom: 7px;
    font-family: var(--padrao);
}

.foto {
    display: flex;             /* Flexbox para facilitar o alinhamento */
    justify-content: center;    /* Centraliza as divs horizontalmente */
    align-items: center;        /* Centraliza as divs verticalmente */
    gap: 10px;                  /* Espaçamento entre as divs (opcional) */  
    flex-wrap: wrap; 
}

div.quadrado {
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    width: 250px;
    height: 190px;
    border: 2px solid;
}

div#q1 {
    background-image: url('Imagens/Gabriel\ Teixeira\ Guedes\ -\ Curso\ HTML\ e\ CSS_\ ambientes\ de\ desenvolvimento\,\ estrutura\ de\ arquivos\ e\ tags\ -\ Alura.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div#q2 {
    background-image: url('Imagens/Gabriel-Teixeira-Guedes-Git-e-GitHub-20-Horas-Certificado-Curso-em-Video_page-0001.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

div#q3 {
    background-image: url('Imagens/Gabriel-Teixeira-Guedes-MySQL-40-Horas-Certificado-Curso-em-Video_page-0001.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

div#q4 {
    background-image: url('Imagens/Gabriel\ Teixeira\ Guedes\ -\ Lógica\ de\ programação\ mergulhe\ em\ programação\ com\ JavaScript.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div#q5 {
    background-image: url('Imagens/Java\ trabalhando\ com\ listas\ e\ coleções\ de\ dados.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div#q6 {
    background-image: url('Imagens/unknown_2024.11.12-19.52.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#Sk {
    font-family: var(--padrao);
    text-align: center;
    color: rgb(123, 132, 140);
    padding-top: 45px;
    padding-bottom: 25px;
}

.quadradoo {
    padding: 40px;
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    border-bottom: 2px solid;
}

div#um {
    background-image: url('Imagens/java.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div#dois {
    background-image: url('Imagens/javaS.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div#tres {
    background-image: url('Imagens/Mysql.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div#quatro {
    background-image: url('Imagens/reactt.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div#cinco {
    background-image: url('Imagens/ingless.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

footer > p {
    text-align: center;
}


script {
    padding-top: 30%;
}

